<!DOCTYPE html>
<html>
<head>
    <title>Add Game</title>
</head>
<body>
    <h1>Add New Game</h1>
    <form method="POST">
        Opponent: <input type="text" name="opponent"><br>
        Goucher Score: <input type="text" name="goucher_score"><br>
        Opponent Score: <input type="text" name="opponent_score"><br>
        Home or Away: <input type="text" name="home_or_away"><br>
        Season: <input type="text" name="season"><br>
        Date: <input type="date" name="date"><br>
        Result: <input type="text" name="result"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
